{% extends "base/base.html" %}
{% block title %}
    Blog Page
{% endblock title %}
{% block head_title %}
    Blog
{% endblock head_title %}
{% block navigation %}
    {% include "components/nav_item.html" with page="landing" text="Home" %}
    {% include "components/nav_item.html" with page="authentication" text="Login" %}
{% endblock navigation %}
{% block content %}
    <ul hx-trigger="load"
        hx-get="/api/blogs"
        hx-target="#blog-list"
        hx-swap="afterbegin"
        id="blog-list">
    </ul>
    {% comment %} <button class="click-style">Show</button> {% endcomment %}
{% endblock content %}
