{% extends "base/base.html" %}
{% block title %}
    Blog Page
{% endblock title %}
{% block head_title %}
    Blog
{% endblock head_title %}
{% block navigation %}
    {% include "components/nav_item.html" with page="landing" text="Home" %}
    {% include "components/nav_item.html" with page="authentication" text="Login" %}
{% endblock navigation %}
{% block content %}
    <ul>
        {% for blog in blogs %}<li>{{ forloop.counter }}. {{ blog }}</li>{% endfor %}
    </ul>
{% endblock content %}
