{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="django" />
        <meta name="description" content="tutorial django" />
        <link rel="stylesheet" href="style.css" />
        {% tailwind_css %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <title>
            {% block title %}
                My amazing site
            {% endblock title %}
        </title>
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
    </head>
    <body class="flex items-center h-screen justify-center bg-slate-500">
        <div class="bg-white p-10 rounded-xl shadow-2xl">
            <div class="text-5xl">
                <h2 class="mb-5 text-center">
                    {% block head_title %}
                    {% endblock head_title %}
                </h2>
            </div>
            <div id="nav">
                <p class="text-center">Where do you want to go?</p>
                <ul class="navbar flex gap-5 justify-center">
                    {% block navigation %}
                    {% endblock navigation %}
                </ul>
            </div>
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
