{% extends "base/base.html" %}
{% block title %}
    Login Page
{% endblock title %}
{% block head_title %}
    Login
{% endblock head_title %}
{% block navigation %}
    {% include "components/nav_item.html" with page="landing" text="Home" %}
    {% include "components/nav_item.html" with page="blog" text="Blog" %}
{% endblock navigation %}
{% block content %}
    <form>
        <div>
            <label for="#username">Username :</label>
            <input id="username" name="username" type="text">
        </div>
        <div>
            <label for="#password">Password :</label>
            <input id="password" name="password" type="password">
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock content %}
