{% extends "base/base.html" %}
{% block title %}
    Login Page
{% endblock title %}
{% block head_title %}
    Login
{% endblock head_title %}
{% block navigation %}
    {% include "components/nav_item.html" with page="landing" text="Home" %}
    {% include "components/nav_item.html" with page="blog" text="Blog" %}
{% endblock navigation %}
{% block content %}
    <form class="*:flex *:flex-col flex flex-col gap-3 items-end"
          hx-post="/api/login/"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-target="#result">
        <div>
            <label for="username">Username :</label>
            <input id="username"
                   name="username"
                   type="text"
                   class="input input-bordered">
        </div>
        <div>
            <label for="password">Password :</label>
            <input id="password"
                   name="password"
                   type="password"
                   class="input input-bordered">
        </div>
        <button type="submit" class="btn btn-neutral">Login</button>
    </form>
    <h1 id="result" hx-swap="outerHTML" class="text-4xl text-center"></h1>
{% endblock content %}
